.icon {
  color: var(--icon-bg);
}

.icon:hover {
  color: var(--btn-primary-bg-hover);
  background-color: var(--main-layer-3);
}

.app-icon {
  background-color: var(--main-layer-1);
}

.app-icon:hover {
  background-color: var(--main-layer-3);
}
